<%- include("partials/header") %>

<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>Welcome to YelpCamp!</h1>
            <p>Overview of all the campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
            </p>
        </div>
    </header>

    <div class="container">
        <div class="row text-center">
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-4 col-sm-6 mb-2">
                <div class="card">
                    <img src="<%= campground.image %>" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title"><%= campground.name %></h4>
                        <p class="card-text">
                            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                        </p>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>

    <a href="/">Go back to landing page</a>
    <%- include("partials/footer") %>
</div>